
.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 150px;

  .beers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
      cursor: pointer;

      h4, p {
        text-decoration: none;
        color: white;
      }
      
    }
    
  }
}