
.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px;

  .beers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
      cursor: pointer;

      h4, p {
        text-decoration: none;
        color: white;
      }
      
    }
    
  }
}

@media only screen and (min-width: 768px) {
  .container {    
    padding: 150px;
  }
}  